<!-- Header -->
<%- include("partials/header.ejs") %>   
<!-- Navigation bar --> 
<%- include("partials/navigation.ejs") %> 
    <div class="blog-title">
        <h1>Tech Posts</h1>
    </div>
    <main  class="main">
        <% if (posts && posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="blog-post">
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>No posts submitted yet!</p>
        <% } %>
    </main>
<!-- Footer -->
<%- include("partials/footer.ejs") %>
